# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env
client/.env

# Build outputs
dist/
client/dist/

# IDE & OS files
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
